@font-face {
    font-family: 'bebas_neueregular';
    src: url('Fonts/BebasNeue-webfont.eot');
    src: url('Fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/BebasNeue-webfont.woff') format('woff'),
         url('Fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('Fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a{
  color: red;
}
a:hover{
  
}

p,body {
  font-family: 'bebas_neueregular';
   color: #8D8A8A;
   background: black;
  }



.top-bar {
  /*border-radius: 15px;*/
  overflow: hidden;
  /*height: 45px;*/
  /*line-height: 45px;*/
  position: relative;
  /*background: #73577f;*/
  /*background: #421C53;*/
  background: black;
  margin-bottom: 1.875em;
  }
section.top-bar-section {
    float: left;
    left: 50% !important;
    position: relative;
    background: black;
}

section.top-bar-section ul.left {
    position: relative;
    right: 50%;
}


.top-bar-section li a:not(.button) {
    padding: 0px 45px;
    /*line-height: 45px;*/
    /*background: none repeat scroll 0% 0% #421C53;*/
    background: black;
    /*font-size: 1em;*/
}
.top-bar-section ul li.hover > a {
    /*background: none repeat scroll 0% 0% rgb(189, 160, 203);*/
    /*color: rgb(255, 255, 255);*/
    background: black;
}

.contain-to-grid{
  background: white;
}

.top-bar-section li:not(.has-form) a:not(.button){
  background: black;
  color: #8D8A8A;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
  background: black;
  color: white;
}


#activa{
  color: white;
}

#cmail {
  color: #8D8A8A;
}

.top-bar .toggle-topbar.menu-icon a{
  color:#8D8A8A;
}

.top-bar.expanded .title-area {
  background: black;
}
.top-bar .toggle-topbar.menu-icon a:after {
  -webkit-box-shadow: 0 10px 0 1px #8D8A8A, 0 16px 0 1px #8D8A8A, 0 22px 0 1px #8D8A8A;
          box-shadow: 0 10px 0 1px #8D8A8A, 0 16px 0 1px #8D8A8A, 0 22px 0 1px #8D8A8A;
}

#logo{
  background: black;
  /*padding: 20px;*/
  margin-top: 0px;
  margin-bottom: 0px;
  
  
}

#cinzenta {
  background: #8D8A8A;
}
#barra {
  background: black;
  vertical-align: middle;
}

.top-bar-section ul li > a {
  font-family: 'bebas_neueregular';
  font-size: 1.2em;
}

#footer{
  color: #8D8A8A;
  margin-bottom: 10px;
}


[class*="fi-"]{
  font-size: 1.5em;
  
}
.fi-social-facebook{
  color:#3B5998 ;
  
  
}
.fi-social-linkedin{
  color:#007bb6 ;
}
.fi-social-behance{
  color: #005cff;
}
.fi-social-twitter{
  color: #4099FF;
}
.fi-mail{
  color: #4F565A;
}
.fi-social-instagram{
  color: #8a3ab9;
}
/*@media only screen and (max-width: 40em){*/
@media only screen{
  .contain-to-grid{
    background:black;
  }
}
